.profile-box {
	background-color: ;
	border: solid 1px silver;
	width: 500px;
	margin-bottom: 20px;
	padding: 5px;
}

.picture-box {
	width: 90px;
	height: 120px;
	overflow: hidden;
	float: left;
}

.data-box {
	margin-left: 10px;
	float: left;
}

.profil-label {
	font-weight: bold;
}

.my-data {
	margin-bottom: 3px;
}